.app-container {
  display: flex;
  .content-container {
    width: 100%;
    padding-left: 256px;
    .operation-container {
      .search-container {
        margin-bottom: 24px;
        .search-field-container {
          div {
            .ant-form-item {
              display: flex;
              .ant-form-item-control-wrapper {
                flex: 1;
              }
            }
          }
          div.search-action-container {
            line-height: 39.9999px;
            button {
              margin-left: 8px;
            }
          }
        }
      }
      .data-action-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 24px;
      }
    }
    .data-container {
      .data-source-operation-container {
        a, span {
          color: #1890ff;
          cursor: pointer;
        }
      }
    }
    .ant-form {
      .ant-calendar-picker {
        width: 100%;
      }
    }
  }
}

// antd
.ant-notification-notice-message {
  margin-bottom: 0;
}
