.collection-search-result-container {
  margin-top: 1rem;
  padding-top: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  background-color: #fff;
  .collection-list-container {
    display: flex;
    .col {
      margin-bottom: 2rem;
    }
  }
  .collection-pagination-container {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
  }
}

// 移动端适配
@media (max-width: 767px) {
  .collection-search-result-container {
    margin-top: 0;
    .collection-list-container {
      .col {
        margin-bottom: 1rem;
      }
    }
  }
}
