.account-sign-in-detail-container {
  max-width: 31.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  .header-container {
    margin-bottom: 2rem;
    .title {
      font-size: 1.5rem;
      color: #333;
    }
  }
  .form-container {
    .ant-input {
      height: 2.85rem;
    }
    .ant-btn {
      height: 2.85rem;
    }
    .anticon {
      color: rgba(0, 0, 0, .25);
    }
    .captcha {
      .ant-input-group-addon {
        padding: 0;
        border: 0;
        .ant-btn {
          width: 123px;
          margin-left: -1px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}
