.layout-sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 256px;
  min-height: 100vh;
  background-color: #001529;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  .logo-container {
    display: flex;
    align-items: center;
    height: 64px;
    padding-left: 25px;
    padding-right: 25px;
    background: #002140;
    a {
      text-decoration: none;
      font-size: 20px;
      font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
      font-weight: 600;
      color: #fff;
    }
  }
}
