.account-person-collection-favorite-search-result-container {
  padding: 1.2rem .6rem;
  .collection-list-container {
    .col {
      margin-bottom: 1.2rem;
    }
  }

  .collection-pagination-container {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
}
