.layout-header-container {
  // 顶部操作栏
  .header-action-container {
    display: flex;
    justify-content: center;
    height: 40px;
    background: #f2f2f2;
    .header-action-inner-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1200px;
      // 登陆 注册 提示
      .action-tooltip {
        padding-right: .1rem;
        span {
          position: relative;
          cursor: pointer;
        }
        span:first-child {
          &::after {
            content: '';
            position: absolute;
            top: 5px;
            bottom: 2px;
            left: 100%;
            margin-left: 10px;
            border-right: 1px solid #ccc;
          }
        }
        span:last-child {
          margin-left: 1.5rem;
        }
      }
    }
  }
  // 顶部上半部分
  .header-top-container {
    display: flex;
    justify-content: center;
    .header-top-inner-container {
      position: relative;
      width: 1200px;
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        max-width: 100px;
        transform: translateY(-50%);
        cursor: pointer;
      }
      .operation-container {
        // 搜索
        .search-container {
          form {
            display: flex;
            height: 42px;
            border: 1px solid #ccc;
            .ant-form-item {
              margin-bottom: 0;
              &:first-child {
                min-width: 85px;
              }
              &:nth-child(2) {
                width: 250px;
              }
              // select input 共有的样式
              .ant-select-selection,
              .ant-input {
                border: 0;
                border-radius: 0;
              }
              .ant-select-selection,
              .ant-input:focus {
                box-shadow: none;
              }
              // select 样式
              .ant-select-selection {
                height: 40px;
                .ant-select-selection__rendered {
                  line-height: 40px;
                }
                .ant-select-arrow {
                }
              }
              // input 样式
              .ant-input {
                height: 40px;
                border-left: 1px solid #ccc;
                border-radius: 0;
              }
              // button 样式
              .ant-btn {
                width: 85px;
                height: 40px;
                border-radius: 0;
              }
            }
          }
        }
      }
      // 移动端操作容器
      .mobile-header-top-action-container {
        display: none;
      }
    }
  }
  // 顶部下半部分
  .header-nav-container {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px #ccc;
    .header-nav-inner-container {
      width: 1200px;
      .ant-menu {
        border-bottom: 0;
        line-height: 55px;
        .anticon-down {
          width: 0;
          margin-right: 0;
          margin-left: 5px;
          font-size: 12px;
        }
      }
      .ant-menu-inline {
        .anticon-down {
          font-size: 0;
        }
      }
    }
  }
}

// 移动端适配
@media (max-width: 767px) {
  .layout-header-container {
    box-shadow: 0 3px 5px #ccc;
    // 激活
    &.mobile-active {
      .header-nav-container {
        z-index: 100;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 0;
        border-bottom: 0;
        .mobile-header-nav-container-mask {
          z-index: 102;
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(0, 0, 0, .3);
          transition: background .5s ease;
        }
      }
    }
    // 顶部操作栏
    .header-action-container {
      .header-action-inner-container {
        padding-left: .5rem;
        padding-right: .5rem;
      }
    }
    // 顶部上半部分
    .header-top-container {
      .header-top-inner-container {
        height: 100px;
        .logo {
          left: 50%;
          top: 55%;
          transform: translateX(-50%) translateY(-50%);
          max-width: 75px;
        }
        .operation-container {
          z-index: 101;
          overflow: hidden;
          display: flex;
          justify-content: center;
          width: 0;
          // 激活
          &.mobile-active {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            .search-container {
              position: fixed;
              z-index: 103;
              display: flex;
              justify-content: center;
              padding-left: 2rem;
              padding-right: 2rem;
              transform: translateY(19vh);
              form {
                .ant-form-item {
                  &:nth-child(2) {
                    width: auto;
                  }
                  .ant-btn {
                    width: auto;
                    span {
                      display: none;
                    }
                  }
                }
              }
            }
            .mobile-search-container-mask {
              z-index: 102;
              position: fixed;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background: rgba(0, 0, 0, .3);
              transition: background .5s ease;
            }
          }
        }
        // 移动端操作容器
        .mobile-header-top-action-container {
          display: flex;
          justify-content: space-between;
          position: absolute;
          top: 1.3rem;
          right: 1.3rem;
          left: 1.3rem;
          .show-header-nav-container {
            font-size: 1.5rem;
            cursor: pointer;
            &:active {
              opacity: .5;
            }
          }
          .show-search-container {
            font-size: 1.5rem;
            cursor: pointer;
            &:active {
              opacity: .5;
            }
          }
        }
      }
    }
    // 顶部下半部分
    .header-nav-container {
      width: 0;
      .header-nav-inner-container {
        z-index: 103;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 250px;
        transform: translateX(-250px);
        transition: transform .5s ease;
        .ant-menu-inline {
          height: 100%;
          .ant-menu-item {
            margin-top: 0;
          }
        }
      }
    }
  }
}
