.header-nav-container {
  display: none;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, .25);
  .header-nav-inner-container {
    width: 1200px;
    .ant-menu {
      border-bottom: 0;
      line-height: 49px;
      background-color: #fff;
      .ant-menu-submenu {
        .anticon-down {
          width: 0;
          margin-right: 0;
          margin-left: .5rem;
          font-size: 12px;
        }
      }
    }
    .ant-menu-inline {
      .anticon-down {
        font-size: 0;
      }
    }
  }
}

// pc端适配
@media (min-width: 767px) {
  .header-nav-container {
    display: flex;
  }
}

// 移动端适配
@media (max-width: 767px) {
  .header-nav-container {
    display: flex;
    width: 0;
    &.mobile-active {
      z-index: 100;
      overflow: hidden;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      border-top: 0;
      border-bottom: 0;
      .header-nav-inner-container {
        transform: translateX(0);
      }
      .mobile-header-nav-container-mask {
        z-index: 102;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .3);
        transition: background .5s ease;
      }
    }
    .header-nav-inner-container {
      z-index: 103;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 250px;
      background-color: #fff;
      transform: translateX(-350px);
      transition: transform .5s;
      .ant-menu-inline {
        height: 100%;
        .ant-menu-item,
        .ant-menu-submenu .ant-menu-submenu-title {
          display: flex;
          align-items: center;
          height: 3.5rem;
          margin-top: 0;
          margin-bottom: 0;
          border-bottom: 3px solid rgba(0, 0, 0, .1);
          transition: none;
          .anticon-down {
            display: none;
          }
        }
      }
    }
  }
}
