html {
  font-family: 'OptimaLTStd', 'Arial', "Microsoft JhengHei";
  font-size: 13px;
  &.mobile-active {
    overflow: hidden;
  }
  body {
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: .8rem;
    background-color: #f6f6f6;
    #__next {
      transition: transform .3s ease;
      // 移动端菜单显示触发
      &.mobile-active {
        height: 100%;
      }
    }
  }
}

// 移动端适配
@media (max-width: 767px) {
  html {
    body {
      font-size: .8rem;
    }
  }
}

// 重写库样式==============================================================
$primary-color: #ffc107;
$primary-active-color: #eab105;

html {
  a {
    color: rgba(0, 0, 0, 0.65);
    &:hover,
    &:focus {
      color: $primary-active-color !important;
      text-decoration: none;
    }
  }
}

// antd
html {
  // button
  .ant-btn {
    color: rgba(0, 0, 0, 0.65);
    text-shadow: none;
    &:hover,
    &:focus {
      color: #233;
    }
  }
  // radio
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: rgba(0, 0, 0, 0.65);
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover,
  .ant-radio-button-wrapper-checked:hover {
    color: #000;
  }
  // input
  .ant-input:focus {
    box-shadow: 0 0 0 2px $primary-color;
  }
  .ant-form-item-control.has-error {
    .ant-input {
      box-shadow: 0 0 0 2px #ff5555b3;
    }
  }
  // cascader
  .ant-cascader-picker:focus .ant-cascader-input {
    box-shadow: 0 0 0 2px $primary-color;
  }
  // pagination
  .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
    box-shadow: 0 0 0 2px $primary-color;
  }
  // form
  .ant-form {
    .ant-form-item {
      height: 65px;
      margin-bottom: 0;
      transition: height .3s ease;
      &.ant-form-item-with-help {
        height: 75px;
      }
      .ant-form-explain {
        margin-top: 5px;
      }
    }
  }
  // notification
  .ant-notification-notice {
    color: #333;
    background-color: $primary-active-color;
    .ant-notification-notice-content {
      .ant-notification-notice-message {
        color: inherit;
        margin-bottom: 0;
      }
    }
    .ant-notification-notice-close {
      color: inherit;
    }
  }
  // notification 移动端适配
  @media (max-width: 767px) {
    .ant-notification-bottomLeft {
      max-width: 100%;
      margin-left: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

// swiper
html {
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNyA0NCc+PHBhdGggZD0nTTI3LDIyTDI3LDIyTDUsNDRsLTIuMS0yLjFMMjIuOCwyMkwyLjksMi4xTDUsMEwyNywyMkwyNywyMnonIGZpbGw9JyNmZmMxMDcnLz48L3N2Zz4=
    );
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNyA0NCc+PHBhdGggZD0nTTAsMjJMMjIsMGwyLjEsMi4xTDQuMiwyMmwxOS45LDE5LjlMMjIsNDRMMCwyMkwwLDIyTDAsMjJ6JyBmaWxsPScjZmZjMTA3Jy8+PC9zdmc+);
  }
  .swiper-pagination-bullet-active {
    background-color: $primary-color;
  }
}

// nprogress
html {
  #nprogress .bar {
    height: .3rem;
    background: $primary-active-color;
  }
  #nprogress .peg {
    box-shadow: 0 0 10px $primary-color, 0 0 5px $primary-color
  }
  #nprogress .spinner-icon {
    border-top-color: $primary-color;
    border-left-color: $primary-color;
  }
}
