.layout-footer-container {
  margin-top: 3rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, .25);
  // 底部上半部分
  .footer-top-container {
    display: flex;
    justify-content: center;
    .footer-top-inner-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      padding: 3rem 2rem;
      .action-left-container {
        display: flex;
        .action-item-group {
          margin-right: 100px;
          &:last-child {
            margin-right: 0;
          }
          &.contact-action-item-group {
            ul {
              li {
                display: flex;
                span:first-child {
                  position: relative;
                  width: 2.79rem;
                  text-align: left;
                  margin-right: 1rem;
                  &::after {
                    content: ':';
                    position: absolute;
                    right: 0;
                  }
                }
                span:last-child {
                  flex: 1;
                }
              }
              li:hover {
                color: inherit;
                cursor: auto;
              }
            }
          }
          p {
            margin-bottom: 1rem;
            font-size: 1.1rem;
            font-weight: bold;
          }
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
              line-height: 2rem;
              &:hover {
                color: #000;
                cursor: pointer;
              }
              .anticon {
                min-width: 1.5rem;
                text-align: left;
                font-size: 1rem;
              }
            }
          }
        }
      }
      .action-right-container {
        align-self: flex-start;
        height: 100%;
        padding-left: 100px;
        border-left: 1px solid #ccc;
        p {
          margin-bottom: 1rem;
          font-size: 1.1rem;
          font-weight: bold;
        }
        img {
          width: 115px;
          height: 115px;
        }
      }
    }
  }
  // 底部下半部分
  .footer-bottom-container {
    display: flex;
    justify-content: center;
    background-color: #3d3d3d;
    .footer-bottom-inner-container {
      width: 100%;
      max-width: 1200px;
      padding-top: 5rem;
      padding-bottom: 5rem;
      p {
        margin: .5rem 0;
        padding: 0;
        text-align: center;
        color: #b1b1b1;
      }
    }
  }
}

// 移动端适配
@media (max-width: 767px) {
  .layout-footer-container {
    .footer-top-container {
      .footer-top-inner-container {
        .action-left-container {
          width: 100%;
          .action-item-group {
            flex: 1;
            margin-right: 0;
          }
        }
        .action-right-container {
          display: none;
        }
      }
    }
  }
}
