.collection-search-condition-container {
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  .mobile-collection-search-condition-action-container {
    display: none;
  }
  .collection-select-search-condition-container {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #fff;
    .collection-search-condition-item {
      display: flex;
      padding-top: 1rem;
      border-bottom: 1px solid #dadada;
      &:last-child {
        border-bottom: 0;
      }
      // 收藏品分类, 成交状况
      &.collection-category,
      &.collection-transaction {
        .radio-item {
          display: inline-block;
          width: 6rem;
          margin-right: 1rem;
          margin-bottom: 1rem;
          border-radius: 3px;
          .ant-radio-button-wrapper {
            width: 100%;
            padding: 0 5px;
            text-align: center;
          }
        }
      }
      // 收藏品拍卖场次
      &.collection-area {
        align-items: center;
        padding-top: .8rem;
        padding-bottom: .8rem;
        .ant-cascader-picker {
          width: 20rem;
        }
      }
      // 收藏品拍品
      &.collection-keyword {
        align-items: center;
        padding-top: .8rem;
        padding-bottom: .8rem;
        .ant-input-group-wrapper {
          width: 20rem;
        }
      }
      .condition-name {
        width: 8rem;
        padding-left: 1.5rem;
        padding-top: .3rem;
        padding-bottom: 1rem;
        font-size: 1rem;
      }
      .condition-select {
        flex: 1;
      }
    }
  }
}

// 移动端适配
@media (max-width: 767px) {
  .collection-search-condition-container {
    padding: 0;
    &.mobile-active {
      .collection-select-search-condition-container {
        transform: translateX(0);
      }
      .mobile-collection-select-search-condition-container-mask {
        z-index: 102;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        transition: background .5s ease;
      }
    }
    .mobile-collection-search-condition-action-container {
      display: block;
      padding: .5rem;
      text-align: right;
      background-color: #fff;
    }
    .collection-select-search-condition-container {
      overflow: scroll;
      z-index: 103;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 300px;
      padding-left: 1rem;
      padding-right: 1rem;
      background: #fff;
      transition: transform .5s;
      transform: translateX(350px);
      .collection-search-condition-item {
        display: block;
        &.collection-category,
        &.collection-transaction {
          .ant-radio-group {
            display: flex;
            flex-wrap: wrap;
            .radio-item {
              width: 33.3%;
              margin-right: 0;
              padding-left: .5rem;
              padding-right: .5rem;
            }
          }
        }
        &.collection-area {
          .condition-select {
            padding-left: .5rem;
            .ant-cascader-picker {
              width: 100%;
            }
          }
        }
        &.collection-keyword {
          .condition-select {
            padding-left: .5rem;
            .ant-input-group-wrapper {
              width: 100%;
            }
          }
        }
        .condition-name {
          padding-top: 0;
          padding-bottom: 1rem;
          padding-left: .5rem;
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .collection-search-condition-container {
    .collection-select-search-condition-container {
      .collection-search-condition-item {
        &.collection-category,
        &.collection-transaction {
          .ant-radio-group {
            .radio-item {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
