.ant-alert {
  margin-top: 3rem;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  font-size: 1.3rem;
  text-align: center;
}

.notice-search-result-container {
  margin-top: 1rem;
  padding-bottom: 2rem;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  .notice-list-container {
    padding: 1rem 2rem 2rem;
    .notice-list-item {
      display: flex;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      border-bottom: 1px dashed #cecece;
      .preview-image-container {
        overflow: hidden;
        width: 120px;
        height: 80px;
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
        img {
          width: 100%;
          height: 100%;
          transition: transform .3s;
        }
      }
      .description-container {
        flex: 1;
        overflow: hidden;
        padding-left: 20px;
        .description-top {
          margin-bottom: 1.25rem;
          display: flex;
          justify-content: space-between;
          .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 75%;
            font-size: 1.25rem;
            color: #555;
            text-decoration: none;
            &:hover {
              color: #eab105;
            }
          }
          .created-at {
            letter-spacing: 1px;
            color: #bfbfbf;
          }
        }
        .description-bottom {
          display: flex;
          margin-bottom: 0;
          .description {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #898989;
          }
        }
      }
    }
  }
  .notice-pagination-container {
    display: flex;
    justify-content: center;
  }
}

// 移动端适配
@media (max-width: 767px) {
  .notice-search-result-container {
    .notice-list-container {
      padding: 1rem;
      .notice-list-item {
        .preview-image-container {
          width: 80px;
          height: 60px;
        }
        .description-container {
          .description-top {
            .title {
              max-width: 100%;
            }
            .created-at {
              display: none;
            }
          }
          .description-bottom {
            .description {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
