html {
  font-family: 'OptimaLTStd','Arial',"Microsoft JhengHei";
  font-size: 90%;
  body {
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 1rem;
    background-color: #fff;
    &.mobile-active {
      overflow: hidden;
    }

    #root {
      transition: transform .3s ease;
      // 移动端菜单显示触发
      &.mobile-active {
        height: 100%;
      }
    }

    // antd
    .ant-select-dropdown {
      border-radius: 0 !important;
      .ant-select-dropdown-menu-item {
        border-radius: 0 !important;
      }
    }
  }
}

// 移动端适配
@media (max-width: 767px) {
  html {
    body {
      font-size: .8rem;
    }
  }
}
